<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="navbar-header">
        <img  style="width: 45px; height: 45px;" src="https://ng-bootstrap.github.io/img/logo.svg" class="logo">
        <span class="navbar-brand">Angular + Bootstrap + agGrid</span>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Angular + Bootstrap + agGrid</h1>
        <p class="lead">Este exemplo é um exercício rápido para ilustrar a configuração e o funcionamento da agGrid</p>
        <a class="btn btn-lg btn-primary" href="https://www.ag-grid.com/documentation-main/documentation.php" role="button">View agGrid docs »</a>
    </div>
</main>

<app-my-grid-application></app-my-grid-application>